<div class="center-content">
  <h2>Login user</h2>
  <div>
    <form class="myForm" [formGroup]="form">
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="E-mail">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>password</mat-label>
        <input formControlName="password" matInput type="password" placeholder="Password">
      </mat-form-field>
    </form>
  </div>
  <div>
  <button style="margin-right: 5px;" mat-raised-button color="primary" (click)="loginUser()">Login</button>
  </div>
  <div>
    <p>If you don't own a account, create one here: <a routerLink="/register">register</a></p>
  </div>
</div>