<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/developers">Developers</a>
      <a mat-list-item routerLink="/games">Games</a>
      <a mat-list-item routerLink="/characters">Characters</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Game info</span>
      <div *ngIf="!user" style="position: absolute; right: 5rem;">
        <a mat-raised-button style="margin-right: 5px;" routerLink="/login">Login</a>
        <a mat-raised-button routerLink="/register">Register</a>
      </div>
      <div *ngIf="user" style="position: absolute; right: 5rem;">
        <button mat-raised-button style="margin-right: 5px;" color="warn" (click)="logout()">Logout</button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
