<div class="center-content">
  <h2>Character Add</h2>
  <div>
    <form class="myForm">
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Character name</mat-label>
        <input [(ngModel)]="characterData.name" matInput placeholder="Game name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-label>Character weapons</mat-label>
      <tag-input [(ngModel)]='characterData.weapons' class="full-width" theme='minimal' matInput [editable]='true' [ngModelOptions]="{standalone: true}"></tag-input>
      
      <mat-label>Character abilities</mat-label>
      <tag-input [(ngModel)]='characterData.abilities' class="full-width" theme='minimal' matInput [editable]='true' [ngModelOptions]="{standalone: true}"></tag-input>
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Character description</mat-label>
        <input [(ngModel)]="characterData.description" matInput placeholder="Character description" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="legacy">
        <mat-select placeholder="Games" [(ngModel)]="characterData.game" name="game">
          <mat-option *ngFor="let game of games; let i = index;" [value]="game._id">
            {{game.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Character image url</mat-label>
        <input [(ngModel)]="characterData.imageUrl" matInput placeholder="Character imageUrl" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>
  </div>
  <button mat-raised-button color="primary" (click)="addCharacter()">Save</button>
</div>