<!-- <nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a  class="navbar-brand"  href="#">Angular CRM</a>
    <button  class="navbar-toggler"  type="button"  data-toggle="collapse"  data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent"  aria-expanded="false"  aria-label="Toggle navigation">
    <span  class="navbar-toggler-icon"></span>
    </button>
<div  class="collapse navbar-collapse"  id="navbarSupportedContent">
    <ul  class="navbar-nav mr-auto">
        <li  class="nav-item active">
            <a routerLink="/dashboard" class="nav-link"  href="#">Dashboard <span  class="sr-only">(current)</span></a>
        </li>
        <li  class="nav-item active">
            <a routerLink="/developers" class="nav-link" href="#">Developers <span  class="sr-only">(current)</span></a>
        </li>
        <li  class="nav-item active">
            <a routerLink="/characters" class="nav-link" href="#">Characters <span  class="sr-only">(current)</span></a>
        </li>
        <li  class="nav-item active">
            <a routerLink="/games" class="nav-link" href="#">Games <span  class="sr-only">(current)</span></a>
        </li>
</ul>
</div>
</nav> -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<my-nav></my-nav>

