<div *ngIf="game" class="center-content">
    <h2>{{game.name | uppercase}} Details</h2>
    <div>
      <img src="{{game.imageUrl}}" width="300rem">
    </div>
    <div>
      <form class="myForm">
        <mat-label>Game genres</mat-label>
        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Game genres</mat-label>
          <input matInput placeholder="Game description" value="{{game.genres}}" disabled>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Game description</mat-label>
          <input matInput placeholder="Game description" value="{{game.description}}" disabled>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Game price</mat-label>
          <input matInput placeholder="Game Price" value="{{game.price}}" disabled>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Game release date</mat-label>
          <input type="date" matInput placeholder="Game release date" value="{{game.released | date:'yyyy-MM-dd'}}" disabled>
        </mat-form-field>
          <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Game developer</mat-label>
          <input matInput placeholder="Game developer" value="{{game.developer[0].name}}" disabled>
        </mat-form-field>
      </form>
    </div>
    <button mat-raised-button color="primary" (click)="editGame(game._id)" style="margin-bottom: 10px;">Edit</button>

    <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade"
           *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
          API limit reached
        </div>
      </div>
    
      <div class="example-table-container">
    
        <table mat-table [dataSource]="game.characters" class="example-table"
               matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
  
            <!-- Number Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <td mat-cell *matCellDef="let row"><img width="100rem" src="{{row.imageUrl}}"></td>
          </ng-container>   
  
          <!-- Number Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>
  
          <!-- Number Column -->
          <ng-container matColumnDef="game">
            <th mat-header-cell *matHeaderCellDef>Game</th>
            <td mat-cell *matCellDef="let row">{{row.game[0].name}}</td>
          </ng-container>
  
          <!-- State Column -->
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef>Details</th>
            <td mat-cell *matCellDef="let row"><button mat-raised-button color="primary" (click)="detail(row._id)">Details
              </button></td>
          </ng-container>
  
          <!-- State Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let row"><button mat-raised-button color="accent" (click)="edit(row._id)">Edit
              </button></td>
          </ng-container>
  
          <!-- State Column -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let row"><button mat-raised-button color="warn" (click)="delete(row._id)">Delete
              </button></td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    
      <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
    </div>
  </div>